@import 'variables';

.search-input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 12C10.9 12 10 11.1 10 10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 11.1 13.1 12 12 12ZM18 10.2C18 6.57 15.35 4 12 4C8.65 4 6 6.57 6 10.2C6 12.54 7.95 15.64 12 19.34C16.05 15.64 18 12.54 18 10.2ZM12 2C16.2 2 20 5.22 20 10.2C20 13.52 17.33 17.45 12 22C6.67 17.45 4 13.52 4 10.2C4 5.22 7.8 2 12 2Z' fill='%23A8A8A8'/%3E%3C/svg%3E");
  background-position: 24px center;
  background-repeat: no-repeat;
}

.bg-gradient {
  &::after {
    background: linear-gradient(180deg, rgba(255, 118, 57, 0.10) 0%, rgba(0, 0, 0, 0.58) 100%);
  }
}

.menu {
  .group {
    &::before {
      content: "";
      height: 32px;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

.submenu {
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.97581 4.59553C0.590746 6.31655 0.590745 9.10686 1.97581 10.8279L4.63548 14.1326C6.02054 15.8537 8.26618 15.8537 9.65124 14.1326L12.3109 10.8279C13.696 9.10686 13.696 6.31655 12.3109 4.59553L9.65124 1.29076C8.26618 -0.430253 6.02054 -0.430254 4.63548 1.29076L1.97581 4.59553Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 16px;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    
  }
}

.estate-item {
  max-width: 586px;
  margin: 0 auto; 
  background: #fff;
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.slick-active {
  .estate-item {
    transition: .4s;
  
    &:hover {
      transform: scale(1.05);
      background: #fff;
      z-index: 9;
      box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.15);
    }
  }
}

.custom-hover {
  transition: .4s;
  
  &:hover {
    transform: scale(1.05);
    background: #fff;
    z-index: 9;
    box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.15);
  }
}

.custom-shadow {
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.custom-rounded {
  border-radius: 100px 20px 20px 100px;
}

.before-custom-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(138, 138, 138, 0.10) 0%, rgba(0, 0, 0, 0.62) 100%);
  z-index: 1; /* Ensure it's behind the main content */
}

.before-custom-gradient-listing {
  &::before {
    background: linear-gradient(180deg, rgba(138, 138, 138, 0.61) 0%, rgba(0, 0, 0, 0.68) 72.24%);
  }
}

.slick-slide {
  padding: 35px 0;

  &:not(.slick-active) {
    opacity: .5;
    filter: grayscale(1);
  }
}

.slider-estate-small {
  &.slick-slider {
    position: static;
    margin:0;
    .slick-slide {
      margin-right: 0;
      margin-left: 0;
    }

    .estate-item {
      box-shadow: 0px 4px 5px 0px rgba(55, 41, 41, 0.10);
    }
  }

}

.tabs-item > div {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary_light;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

.filter-banner {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary_light;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

.block-shadow-gray {
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.provinces-more {
  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}


.provinces-slider {
  .slick-slide {
    >div {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}


.mobile-menu {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), lightgray 50% / cover no-repeat;
  &.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 50;
  } 

  &-wrap {
    border-radius: 0px 0px 16px 16px;
    background: #F5F5F5;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-bottom: 24px;
  } 

  .mobile-menu-list {
    padding: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E3E6E9;
    li {
      a {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 15px ;
        gap: 16px;
        margin-bottom: 6px;

        svg {
          width: 24px;
          height: 24px;
          transition: .3s;
          ;
          &.show-submenu-icon {
            margin-left: auto;
            width: 16px;
            height: 16px;
          }
        }
      }

      .mobile-menu-submenu-list {
        display: none;
        border-radius: 0px 0px 8px 8px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        margin-top: -8px;
        li {
          a {
            box-shadow: none;
          }
        }
      }

      &.active {
        .mobile-menu-submenu-list {
          display: block;
        }

        .show-submenu-icon {
          transform: rotate(180deg);
          color: $primary;
        }
      }
    }
  }
}

.toggle-menu {
  .icon-1 {
    display: block;
  }
  .icon-2 {
    display: none;
  }
  &.open {
    .icon-1 {
      display: none;
    }
    .icon-2 {
      display: block;
    }
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

:root {
  --animate-duration: 1.5s;
  --animate-delay: 1.5s;
  --animate-repeat: 1;
}

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.hidden_animation {
  opacity: 0
}
.visible {
  opacity: 1
}

.dropdown {
  position: relative;
  text-align: left;

  &.open {
    .dropdown-label {
      border: 1px solid $primary_light;
    }

    .dropdown-label-icon {
      color: $primary_light;
      transform: rotate(180deg);
    }
  }

  &-label {
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: 1px solid #fff;
    white-space: nowrap;

    span {
      font-weight: 500;
      color:#757575;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-icon {
      width: 16px;
      height: 16px;
      transition: .4s;
    }
  }

  &-items {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 18px 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  }

  &-item {
    display: block;
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 18px;
    width: 100%;
    transition: .4s;
    text-align: left;

    &:hover {
      background: #FAF1ED;
    }
  }
}

.filter {
  box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10);
}

.bg-provinces {
  background: linear-gradient(180deg, rgba(245, 246, 245, 0.00) 0%, #F5F6F5 100%);
}

.provinces-slider-large {
  .slick-slide {
    >div {
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

body {
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  @import 'MediaQueries/main';
}