@import 'variables';

.search-input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 12C10.9 12 10 11.1 10 10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 11.1 13.1 12 12 12ZM18 10.2C18 6.57 15.35 4 12 4C8.65 4 6 6.57 6 10.2C6 12.54 7.95 15.64 12 19.34C16.05 15.64 18 12.54 18 10.2ZM12 2C16.2 2 20 5.22 20 10.2C20 13.52 17.33 17.45 12 22C6.67 17.45 4 13.52 4 10.2C4 5.22 7.8 2 12 2Z' fill='%23A8A8A8'/%3E%3C/svg%3E");
  background-position: 24px center;
  background-repeat: no-repeat;
}

.bg-gradient {
  &::after {
    background: linear-gradient(180deg, rgba(255, 118, 57, 0.10) 0%, rgba(0, 0, 0, 0.58) 100%);
  }
}

.menu {
  .group {
    &::before {
      content: "";
      height: 32px;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

.submenu {
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.97581 4.59553C0.590746 6.31655 0.590745 9.10686 1.97581 10.8279L4.63548 14.1326C6.02054 15.8537 8.26618 15.8537 9.65124 14.1326L12.3109 10.8279C13.696 9.10686 13.696 6.31655 12.3109 4.59553L9.65124 1.29076C8.26618 -0.430253 6.02054 -0.430254 4.63548 1.29076L1.97581 4.59553Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 16px;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    
  }
}

.estate-item {
  max-width: 586px;
  margin: 0 auto; 
  background: #fff;
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.slick-active {
  .estate-item {
    transition: .4s;
  
    &:hover {
      transform: scale(1.05);
      background: #fff;
      z-index: 9;
      box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.15);
    }
  }
}

.custom-hover {
  transition: .4s;
  
  &:hover {
    transform: scale(1.05);
    background: #fff;
    z-index: 9;
    box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.15);
  }
}

.custom-shadow {
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.custom-rounded {
  border-radius: 100px 20px 20px 100px;
}

.before-custom-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(138, 138, 138, 0.10) 0%, rgba(0, 0, 0, 0.62) 100%);
  z-index: 1; /* Ensure it's behind the main content */
}

.before-custom-gradient-listing {
  &::before {
    background: linear-gradient(180deg, rgba(138, 138, 138, 0.61) 0%, rgba(0, 0, 0, 0.68) 72.24%);
  }
}

.slick-slide {
  padding: 35px 0;

  &:not(.slick-active) {
    opacity: .5;
    filter: grayscale(1);
  }
}

.city-slider {
  .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}

.slider-estate-small {
  &.slick-slider {
    position: static;
    margin:0;
    .slick-slide {
      margin-right: 0;
      margin-left: 0;
    }

    .estate-item {
      box-shadow: 0px 4px 5px 0px rgba(55, 41, 41, 0.10);
    }
  }

}

.tabs-item > div {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary_light;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

.filter-banner {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary_light;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

.block-shadow-gray {
  box-shadow: 0px 4px 39px 0px rgba(55, 41, 41, 0.10);
}

.provinces-more, .province-item-more {
  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}


.provinces-slider {
  .slick-slide {
    >div {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}


.mobile-menu {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), lightgray 50% / cover no-repeat;
  &.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 68px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 50;
  } 

  &-wrap {
    border-radius: 0px 0px 16px 16px;
    background: #F5F5F5;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-bottom: 24px;
  } 

  .mobile-menu-list {
    padding: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E3E6E9;
    li {
      a {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 15px ;
        gap: 16px;
        margin-bottom: 6px;

        svg {
          width: 24px;
          height: 24px;
          transition: .3s;
          ;
          &.show-submenu-icon {
            margin-left: auto;
            width: 16px;
            height: 16px;
          }
        }
      }

      .mobile-menu-submenu-list {
        display: none;
        border-radius: 0px 0px 8px 8px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        margin-top: -8px;
        li {
          a {
            box-shadow: none;
          }
        }
      }

      &.active {
        .mobile-menu-submenu-list {
          display: block;
        }

        .show-submenu-icon {
          transform: rotate(180deg);
          color: $primary;
        }
      }
    }
  }
}

.account-menu {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), lightgray 50% / cover no-repeat;
  position: absolute;
  top: 65px;
  right: 0;
  border-radius: 16px;
  display: none;
  width: 260px;

  &-wrap {
    border-radius: 16px;
    background: #F5F5F5;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-bottom: 24px;
    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.97581 4.59553C0.590746 6.31655 0.590745 9.10686 1.97581 10.8279L4.63548 14.1326C6.02054 15.8537 8.26618 15.8537 9.65124 14.1326L12.3109 10.8279C13.696 9.10686 13.696 6.31655 12.3109 4.59553L9.65124 1.29076C8.26618 -0.430253 6.02054 -0.430254 4.63548 1.29076L1.97581 4.59553Z' fill='%23f5f5f5'/%3E%3C/svg%3E%0A");
      width: 14px;
      height: 16px;
      position: absolute;
      top: -7px;
      right: 18px;
      z-index: 99;
      
    }
  } 

  .account-menu-list {
    padding: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E3E6E9;

    li {
      width: 100%;

      a {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 15px ;
        gap: 16px;
        margin-bottom: 6px;
        width: 100%;

        svg {
          width: 24px;
          height: 24px;
          transition: .3s;
        }
      }

    }
  }
}

.toggle-menu {
  .icon-1 {
    display: block;
  }
  .icon-2 {
    display: none;
  }
  &.open {
    .icon-1 {
      display: none;
    }
    .icon-2 {
      display: block;
    }
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

:root {
  --animate-duration: 1.5s;
  --animate-delay: 1.5s;
  --animate-repeat: 1;
}

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.hidden_animation {
  opacity: 0
}
.visible {
  opacity: 1
}

.dropdown {
  position: relative;
  text-align: left;

  &.open {
    .dropdown-label {
      border: 1px solid $primary_light;
    }

    .dropdown-label-icon {
      color: $primary_light;
      transform: rotate(180deg);
    }
  }

  &-label {
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: 1px solid #fff;
    white-space: nowrap;

    span {
      font-weight: 500;
      color:#757575;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-icon {
      width: 16px;
      height: 16px;
      transition: .4s;
    }
  }

  &-items {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 18px 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    max-height: 260px;
    overflow-y: auto;
  }

  &-item { 
    display: block;
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 18px;
    width: 100%;
    transition: .4s;
    text-align: left;

    &:hover {
      background: #FAF1ED;
    }
  }
}


.filter {
  box-shadow: 0px 4px 52px 0px rgba(0, 0, 0, 0.10);
  z-index: 99;
}

.bg-provinces {
  background: linear-gradient(180deg, rgba(245, 246, 245, 0.00) 0%, #F5F6F5 100%);
}

.provinces-slider-large {
  .slick-slide {
    >div {
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

.tooltip {
  position: relative;

  &-item {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    border-radius: 9.058px;
    background: rgba(0, 0, 0, 0.90);
    padding: 10px 12px;
    white-space: nowrap;

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='13' viewBox='0 0 25 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9248 0.69629L0.536133 0.696289L12.7305 12.8906L24.9248 0.69629Z' fill='black' fill-opacity='0.9'/%3E%3C/svg%3E");
      width: 24.389px;
      height: 12px;
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.btn-shadow-new {
  box-shadow: 0px 3px 9.2px 0px #E9EAEE;

  &:hover {
    box-shadow: 0px 5px 11px 0px rgba(255, 128, 72, 0.20);
  }
}

#share-menu {
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.35);

  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.97581 4.59553C0.590746 6.31655 0.590745 9.10686 1.97581 10.8279L4.63548 14.1326C6.02054 15.8537 8.26618 15.8537 9.65124 14.1326L12.3109 10.8279C13.696 9.10686 13.696 6.31655 12.3109 4.59553L9.65124 1.29076C8.26618 -0.430253 6.02054 -0.430254 4.63548 1.29076L1.97581 4.59553Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 16px;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
}

.fixed-tooltip {
  z-index: 99999999 !important;
}

.fixed-tooltip-content {
  position: relative;
  z-index: 99999999;
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='24' viewBox='0 0 17 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.32113 8.50317C0.058321 10.3158 0.0583213 13.2546 1.32113 15.0673L5.99487 21.7759C7.25768 23.5885 9.3051 23.5885 10.5679 21.7759L15.2417 15.0673C16.5045 13.2546 16.5045 10.3158 15.2417 8.50317L10.5679 1.79453C9.3051 -0.0180977 7.25768 -0.0180973 5.99487 1.79453L1.32113 8.50317Z' fill='%23FFE9DF'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 16px;
    position: absolute;
    top: -7px;
    right: 59px;
    z-index: 99;
  }
}

.plans-slider {
  button {
    opacity: 0;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.tabs-main {
  li {
    a {
      .icon {
        display: none;
      }

      &.active {
        background: #FFF;
        svg {
          display: block;
        }
      }
    }
  }

  &-item {
    display: none;

    &.active {
      display: block;
    }
  }
}

#map { min-height: 442px; width: 100%; z-index: 1;}

.custom-textarea {
  .ck-toolbar {
    border-radius: 6px 6px 0  0 !important;
    border: 1px solid #E4E7EA !important;
    border-bottom: 0 !important;
    padding: 6px 0 !important;
  }
  .ck.ck-editor__main>.ck-editor__editable {
    border-radius: 0 0 6px 6px;
    border: 1px solid #E4E7EA;
    background: #F3F4F5;
    padding: 0 20px;
    min-height: 187px;
  }

}

.object-slider {
  .slick-slide {
    padding-bottom: 65px;
  }
}

.small-shadow-province {
  box-shadow: 0px 2px 5px 0px rgba(55, 41, 41, 0.10);
}

input {
  &[type="email"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1100_9908)'%3E%3Cpath d='M9.33716 9.80292C8.93909 10.0683 8.47672 10.2086 8 10.2086C7.52331 10.2086 7.06094 10.0683 6.66288 9.80292L0.106531 5.43189C0.0701562 5.40764 0.0347187 5.38235 0 5.35635V12.5188C0 13.3399 0.666406 13.9917 1.47291 13.9917H14.5271C15.3482 13.9917 16 13.3253 16 12.5188V5.35632C15.9652 5.38239 15.9297 5.40773 15.8932 5.43201L9.33716 9.80292Z' fill='%235E5E5E'/%3E%3Cpath d='M0.626562 4.6518L7.18291 9.02286C7.43109 9.18833 7.71553 9.27105 7.99997 9.27105C8.28444 9.27105 8.56891 9.1883 8.81709 9.02286L15.3734 4.6518C15.7658 4.39039 16 3.95289 16 3.48071C16 2.6688 15.3395 2.0083 14.5276 2.0083H1.47241C0.660531 2.00833 0 2.66883 0 3.48149C0 3.95289 0.23425 4.39039 0.626562 4.6518Z' fill='%235E5E5E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1100_9908'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 24px center;
  }
  &[type="password"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9993 5.66667H11.3327V4.83333C11.3327 2.99533 9.83735 1.5 7.99935 1.5C6.16135 1.5 4.66602 2.99533 4.66602 4.83333V5.66667H3.99935C3.26268 5.66667 2.66602 6.26333 2.66602 7V12.6667C2.66602 13.4033 3.26268 14 3.99935 14H11.9993C12.736 14 13.3327 13.4033 13.3327 12.6667V7C13.3327 6.26333 12.736 5.66667 11.9993 5.66667ZM5.99935 4.83333C5.99935 3.73033 6.89635 2.83333 7.99935 2.83333C9.10235 2.83333 9.99935 3.73033 9.99935 4.83333V5.66667H5.99935V4.83333ZM8.66602 9.74333V11.3333C8.66602 11.7 8.36602 12 7.99935 12C7.63268 12 7.33268 11.7 7.33268 11.3333V9.74333C7.12602 9.56333 6.99935 9.29667 6.99935 9C6.99935 8.44667 7.44602 8 7.99935 8C8.55268 8 8.99935 8.44667 8.99935 9C8.99935 9.29667 8.87268 9.56333 8.66602 9.74333Z' fill='%235E5E5E'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 24px center;
  }
  &#fname {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1113_10091)'%3E%3Cpath d='M8.38499 7.70724C9.44383 7.70724 10.3607 7.32749 11.1098 6.57822C11.859 5.82908 12.2387 4.91246 12.2387 3.8535C12.2387 2.79491 11.859 1.87817 11.1097 1.12878C10.3605 0.379759 9.44371 0 8.38499 0C7.32604 0 6.40942 0.379759 5.66027 1.1289C4.91113 1.87804 4.53125 2.79479 4.53125 3.8535C4.53125 4.91246 4.91113 5.8292 5.6604 6.57834C6.40966 7.32736 7.32641 7.70724 8.38499 7.70724Z' fill='%235E5E5E'/%3E%3Cpath d='M15.129 12.3032C15.1074 11.9914 15.0637 11.6514 14.9993 11.2922C14.9344 10.9304 14.8508 10.5884 14.7507 10.2757C14.6473 9.95263 14.5067 9.63354 14.3328 9.32775C14.1524 9.01037 13.9405 8.734 13.7027 8.50659C13.4541 8.26867 13.1496 8.07739 12.7976 7.93787C12.4467 7.79907 12.0579 7.72876 11.6421 7.72876C11.4787 7.72876 11.3208 7.79578 11.0157 7.99438C10.828 8.11682 10.6084 8.25842 10.3632 8.41504C10.1537 8.54858 9.86972 8.6737 9.51901 8.78698C9.17685 8.8977 8.82944 8.95385 8.48655 8.95385C8.14365 8.95385 7.79636 8.8977 7.45384 8.78698C7.10349 8.67382 6.81956 8.5487 6.61021 8.41516C6.36741 8.26001 6.14769 8.11841 5.95714 7.99426C5.65245 7.79565 5.49437 7.72864 5.33104 7.72864C4.91503 7.72864 4.52636 7.79907 4.17565 7.93799C3.82384 8.07727 3.51928 8.26855 3.27038 8.50671C3.03271 8.73425 2.82067 9.01049 2.6405 9.32775C2.46679 9.63354 2.32617 9.95251 2.22265 10.2759C2.12268 10.5885 2.03906 10.9304 1.97412 11.2922C1.90979 11.6509 1.86609 11.9911 1.84448 12.3036C1.82324 12.6097 1.8125 12.9275 1.8125 13.2484C1.8125 14.0836 2.078 14.7597 2.60156 15.2584C3.11865 15.7505 3.80285 16.0001 4.63488 16.0001H12.3389C13.171 16.0001 13.8549 15.7506 14.3721 15.2584C14.8958 14.7601 15.1613 14.0838 15.1613 13.2483C15.1612 12.9259 15.1503 12.6079 15.129 12.3032Z' fill='%235E5E5E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1113_10091'%3E%3Crect width='15.9999' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 24px center;
  }
  &#lname {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1113_10091)'%3E%3Cpath d='M8.38499 7.70724C9.44383 7.70724 10.3607 7.32749 11.1098 6.57822C11.859 5.82908 12.2387 4.91246 12.2387 3.8535C12.2387 2.79491 11.859 1.87817 11.1097 1.12878C10.3605 0.379759 9.44371 0 8.38499 0C7.32604 0 6.40942 0.379759 5.66027 1.1289C4.91113 1.87804 4.53125 2.79479 4.53125 3.8535C4.53125 4.91246 4.91113 5.8292 5.6604 6.57834C6.40966 7.32736 7.32641 7.70724 8.38499 7.70724Z' fill='%235E5E5E'/%3E%3Cpath d='M15.129 12.3032C15.1074 11.9914 15.0637 11.6514 14.9993 11.2922C14.9344 10.9304 14.8508 10.5884 14.7507 10.2757C14.6473 9.95263 14.5067 9.63354 14.3328 9.32775C14.1524 9.01037 13.9405 8.734 13.7027 8.50659C13.4541 8.26867 13.1496 8.07739 12.7976 7.93787C12.4467 7.79907 12.0579 7.72876 11.6421 7.72876C11.4787 7.72876 11.3208 7.79578 11.0157 7.99438C10.828 8.11682 10.6084 8.25842 10.3632 8.41504C10.1537 8.54858 9.86972 8.6737 9.51901 8.78698C9.17685 8.8977 8.82944 8.95385 8.48655 8.95385C8.14365 8.95385 7.79636 8.8977 7.45384 8.78698C7.10349 8.67382 6.81956 8.5487 6.61021 8.41516C6.36741 8.26001 6.14769 8.11841 5.95714 7.99426C5.65245 7.79565 5.49437 7.72864 5.33104 7.72864C4.91503 7.72864 4.52636 7.79907 4.17565 7.93799C3.82384 8.07727 3.51928 8.26855 3.27038 8.50671C3.03271 8.73425 2.82067 9.01049 2.6405 9.32775C2.46679 9.63354 2.32617 9.95251 2.22265 10.2759C2.12268 10.5885 2.03906 10.9304 1.97412 11.2922C1.90979 11.6509 1.86609 11.9911 1.84448 12.3036C1.82324 12.6097 1.8125 12.9275 1.8125 13.2484C1.8125 14.0836 2.078 14.7597 2.60156 15.2584C3.11865 15.7505 3.80285 16.0001 4.63488 16.0001H12.3389C13.171 16.0001 13.8549 15.7506 14.3721 15.2584C14.8958 14.7601 15.1613 14.0838 15.1613 13.2483C15.1612 12.9259 15.1503 12.6079 15.129 12.3032Z' fill='%235E5E5E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1113_10091'%3E%3Crect width='15.9999' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 24px center;
  }
}

select {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5007 13.172L17.4507 8.222L18.8647 9.636L12.5007 16L6.13672 9.636L7.55072 8.222L12.5007 13.172Z' fill='%235E5E5E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 98% center;
}

.profile-bg {
  background: linear-gradient(180deg, rgba(243, 244, 245, 0.00) 20.25%, #F3F4F5 100%);
}

.custom-file-upload {
  border-radius: 10px;
  border: 1px solid  #5E5E5E;
}

.sorted-asc {
  path {
    &:last-child {
      color: black;
    }
  }
}

.sorted-desc {
  path {
    &:first-child {
      color: black;
    }
  }
}

body {
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  @import 'MediaQueries/main';
  
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary_light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}